/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main), sans-serif;
  font-variation-settings: "wght" var(--fw-normal);
  font-size: 18px;
  background: repeating-linear-gradient(
        to right,
        #d3d3d3 0 2px,
        transparent 2px 4px
      )
      100% center/cover fixed,
    repeating-linear-gradient(#d3d3d3 0 2px, transparent 2px 4px) 100%
      center/cover fixed,
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a) 100% center/cover fixed;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem) 0;
  border: var(--borders);
  background-color: var(--color-bg);
}

.header,
.main {
  inline-size: var(--inline-size);
  max-inline-size: 100%;
  margin: 100px auto 0;
}

.header__title,
.header__description {
  font-family: var(--font-accent), fantasy;
  font-weight: 400;
  text-transform: uppercase;
}

.header__title {
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
}

.header__description {
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
  margin-top: 20px;
}

.cards {
  font-size: 18px;
}

.card {
  background-color: var(--color-bg);
}

.card + .card {
  margin-top: 50px;
}

.card__img-wrapper {
  position: relative;
  border: var(--borders);
  overflow: hidden;
}

.card__water-mark {
  position: absolute;
  display: block;
  top: 25px;
  right: 25px;
  font-size: 14px;
  font-family: var(--font-accent), fantasy;
  color: var(--color-main);
  opacity: 0.5;
  text-shadow: 1px 0 0 var(--color-bg), 0 1px 0 var(--color-bg),
    -1px 0 0 var(--color-bg), 0 -1px var(--color-bg);
  mix-blend-mode: hard-light;
}

.text-uppercase {
  text-transform: uppercase;
}

@supports (-webkit-text-stroke: 1px var(--color-bg)) {
  .card__water-mark {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--color-bg);
  }
}

.card__header {
  font-variation-settings: "wght" var(--fw-bold);
  display: flex;
  align-items: center;
  padding: 4px 10px;
  letter-spacing: 0.006em;
  border: var(--borders);
}

.card__image_sepia {
  filter: sepia(100%);
}

.card__image_dark {
  filter: grayscale(0.5) brightness(0.5);
}

.card__image_blur {
  filter: blur(25px);
}

.card__image_hue {
  filter: hue-rotate(180deg);
}

.card__image_contrast {
  filter: contrast(1.5) saturate(2);
}

.card__image_grimm {
  filter: grayscale(0.9) contrast(1.5);
}

.card__image_motion {
  filter: saturate(1.5) blur(2px);
}

.card__text-wrapper {
  border: var(--borders);
}

.card__text {
  margin: 25px;
  line-height: 1.17em;
}

.card__buttons {
  display: flex;
  margin: 25px;
  justify-content: end;
  align-items: center;
}

.card__like-button {
  font-family: var(--font-accent), fantasy;
  font-size: 14px;
  text-align: center;
  padding: 10px;
  min-inline-size: 130px;
  background-color: inherit;
  border: var(--borders);
  cursor: pointer;
}

.card__icon-button {
  margin-right: 6px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  inline-size: 38px;
  block-size: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  transition: box-shadow 0.3s;
}

.card__icon-button .like-icon .core {
  transition: fill 0.3s 0.03s;
}

.card__icon-button .like-icon .main-body {
  transition: fill 0.3s;
}

.text_reverse_color {
  position: relative;
  z-index: 1;
  color: var(--color-bg);
  mix-blend-mode: difference;
}

.save {
  inline-size: var(--inline-size);
  margin: 50px auto 100px;
  display: flex;
  justify-content: center;
  max-inline-size: 100%;
}

.save__button {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 340px;
  font-family: var(--font-accent), fantasy;
  font-size: 14px;
  line-height: 0.9;
  border: var(--borders);
  cursor: pointer;
  padding: 15px 19px;
  background-color: var(--color-bg);
}

.save__floppy {
  inline-size: 21px;
  aspect-ratio: 1/1;
  margin-right: 8px;
}

.save__dialog[open] {
  padding: 30px;
  inline-size: clamp(21.3125rem, 20.9604rem + 1.5023vw, 22.3125rem);
}

.save__dialog-text {
  display: flex;
  gap: 20px;
}

.dialog_floppy {
  margin: 0;
  flex: 0 0 39px;
}

.save__text {
  font-family: var(--font-accent), fantasy;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}

.save__button_ok {
  inline-size: 100%;
  border: var(--borders);
  background-color: var(--color-bg);
  text-align: center;
  font-size: 14px;
  padding: 12px;
  margin-top: 30px;
  font-family: var(--font-accent), fantasy;
  text-transform: uppercase;
  cursor: pointer;
}

.save__dialog[open]::backdrop {
  background-color: var(--color-main);
  opacity: 0.75;
}

.animated-button {
  transition: box-shadow 0.3s, color 0.5s;
  position: relative;
}

.animated-button::before {
  content: "";
  inline-size: 100%;
  block-size: 100%;
  position: absolute;
  transform: scale(0, 1);
  transform-origin: left;
  left: 0;
  top: 0;
  background-color: var(--color-main);
  transition: transform 0.5s ease-in-out;
}

@media (width <= 375px) {
  .save__button {
    flex-direction: column;
    inline-size: 310px;
    max-inline-size: 100%;
  }

  .save__floppy {
    inline-size: 28px;
    margin-bottom: 8px;
    margin-right: 0;
  }
}
